/main.class
/Client.class
/Server.class
/Homepage$1.class
/Homepage.class
/LoginPage$1.class
/LoginPage.class
/SignUpPage$1.class
/SignUpPage.class
/HomePage$1.class
/HomePage.class
/GuessingPage$1.class
/GuessingPage.class
/DrawingPage$1.class
/DrawingPage.class
/FinishScreen$1.class
/FinishScreen.class
